<h1>
    Books
    <%= user_signed_in? && policy(Book).new? ? link_to('New Book', books_new_path, class: "btn btn-primary") : '' %>
</h1>

<%# Above we added the policy(Book).new? to ensure that only authorised users can see the 'New Book' button %>

<%# Using helper method 'book_path' reduces chances of breaking things later - as long as there is a 'book_path' this will work. %>
 <%# @books.each do |book|
    link_to book.title, book_path(book.id) by book.author
 end %>

<%# We can also do this WITHOUT the helper method - Rails works it out for us automagically %>
<% @books.each do |book| %>
    <p><%= link_to book.title, book %>
<% end %>