<h1>New Book</h1>

<%# We use the same form for both 'new' and 'edit'. To make this DRY, we create what is called a 'partial' (_form)
which is a pre-set "part" of a View that can be called like so: %>
<%= render 'form'%>